<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />

    <httpRuntime maxRequestLength="2097152" />
  </system.web>

  <appSettings>
    <add key="DataDirectory" value="./data" />
    <add key="TempDirectory" value="./temp" />
   
    <!-- password for system wide encryptions -->
    <add key="Password" value="" />
    <!-- password salt for system wide encryptions -->
    <add key="PasswordSalt" value="" />
    <!-- password iterations for system wide encryptions -->
    <add key="PasswordIterations" value="" />

    <!-- password salt for user passwords -->
    <add key="UserPasswordSalt" value="" />
    <!-- password iterations for user passwords -->
    <add key="UserPasswordIterations" value="" />
  </appSettings>
</configuration>